.button--1{
    -webkit-font-smoothing: antialiased;
    background-color: #222;
    border: none;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    letter-spacing: 0.1em;
    color: white;
    padding: 20px 40px;
    text-transform: uppercase;
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out; }

.button--1 {
    position: absolute;
    top:100px;
    left: 100px;
    opacity: .7;

    z-index: 1;
    width: 80px;
    height: 80px;
    line-height: 80px;
    padding: 0;
    background: none; }
.button--1:hover {
    background: none; }
.button--1:focus {
    outline: none; }
.button--1:active .button__bg {
    transform: scale(0.8); }
.button--1 .button__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 90px solid transparent !important;
    -webkit-filter: url("#filter-goo-4");
    filter: url("../#filter-goo-4");
    padding: 0;
    border-radius: 100px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    background: none;
    font-weight: bold;
    z-index: -2;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out; }
.button--1 .button__bg:hover {
    background: none; }
.button--1 .blob {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 70px;
    opacity: 0.3;
    background: #8542fd;
    -webkit-transition: background 0.1s ease-out;
    -moz-transition: background 0.1s ease-out;
    transition: background 0.1s ease-out;
    z-index: -1;
    pointer-events: none;
}

.button--1 .blob:first-child {
    opacity: 1;
}
.button--1 .blob:nth-child(n+2) {
    width: 100%;
    height: 100%;
}





.button--11{
    -webkit-font-smoothing: antialiased;
    background-color: #222;
    border: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85em;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    letter-spacing: 0.1em;
    color: white;
    padding: 20px 40px;
    text-transform: uppercase;
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out; }
.button--11:hover, .button--1 .button__bg:hover{
    color: #fff; }
.button--11:focus, .button--1 .button__bg:focus{
    outline: none;
    color: #fff; }

.button--11 {
    position: absolute;
    top:100px;
    left: 100px;
    opacity: .8;

    z-index: 1;
    width: 80px;
    height: 80px;
    line-height: 80px;
    padding: 0;
    background: none; }
.button--11:hover {
    background: none; }
.button--11:focus {
    outline: none; }
.button--11:active .button__bg {
    transform: scale(0.8); }
.button--11 .button__bg {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 90px solid transparent !important;
    -webkit-filter: url("#filter-goo-4");
    filter: url("../#filter-goo-4");
    padding: 0;
    border-radius: 100px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    background: none;
    font-weight: bold;
    z-index: -2;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out; }
.button--11 .button__bg:hover {
    background: none; }
.button--11 .blob {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 70px;
    opacity: 0.3;
    background: #7fcffd;

    -webkit-transition: background 0.1s ease-out;
    -moz-transition: background 0.1s ease-out;
    transition: background 0.1s ease-out;
    z-index: -1;
    pointer-events: none;
}

.button--11 .blob:first-child {
    opacity: 1;
}
.button--11 .blob:nth-child(n+2) {
    width: 100%;
    height: 100%;
}

