body {
  font-family: 'Titillium Web','Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 300;
  fill: #242424;
  text-align: center;
  margin: 0;
  padding:0;
  cursor: default;
}
.desc {
  width: 60%;
  font-size: .9rem;
  text-align: left;
  margin-bottom: 20px;
}

.legend div img{
  width: 10rem;
}
.menu {
  margin-top: 1rem;
}
.menu button {
  border: 1px solid black;
  border-radius: 25%;
  background: none;
  padding: .5rem;
  margin: .5rem;

  cursor: pointer;
  font-size: .7rem;
}
.desc_alt {
  width: 60%;
  font-size: .9rem;
  text-align: left;
  margin-top: 20px;
}

.landing_wrap {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.paper-container{
  width: 70%;
  font-size: 1rem;
  text-align: left;
  margin-top: 4rem;
}
#crocini {
  opacity: 0;
}
#next {
  cursor: pointer;
}

.legend {
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}
.tooltip {
  fill: #333333;
}
.bar {
  fill: steelblue;
}
.axis path {
  display: none;
}
h1 {
  color: pink;
}

circle {
  fill-opacity: .25;
  stroke-width: 1px;
}
