body{
    background-color: #292929;
}

div{
    margin: auto;
    /*width: 50%;*/
    /*border: 3px solid green;*/
    padding: 10px;

    font-family: Roboto;
    color: #ffddf7;
    font-size: 1rem;
    text-align: left;
}

#nextButton{

}

#sheet{
    padding: 3rem;
    background-color: #3c3c3c;
    width:100%;
    /*border: 3px solid green;*/
}

#container{

    position: absolute;
    top: 10%;
    left: 50%;
    /*transform: translate(-50%,-50%);*/
    display: block;
    align-content: center;
    width: 40%;
}
#container1{

    position: absolute;
    top: 10%;
    left: 10%;
    /*transform: translate(-50%,-50%);*/
    display: block;
    align-content: center;
    width: 30%
}
.caption {

    font-family: Roboto;
    padding-left: 12px;
    color: #6498a0;
}
.slider{
    width:auto;
}
#grade {
    --paper-slider-knob-color:  #e52225;
    --paper-slider-secondary-color: #e52225 ;
    --paper-slider-active-color: #e52225;
    --paper-slider-pin-color:#e52225;
    --paper-slider-knob-start-border-color:#ffddf7;
    width: auto;
}
