<div layout="column" layout-align="start center">
  <svg id="bubbles" layout="row" layout-align="center center" flex></svg>

  <div class="desc">
    See how your fear levels score in comparison with other people's
    Your perception of danger is visualised as a "fear bubble" of faint colour. The dark bubbles represent the average fear scorings of other people. How overlapping is your bubble with the average for the different typologies of crime? How well do you think this relates to the number of crimes committed in Switzerland? Click 'next' to explore the real data.
  </div>

  <paper-button  id="nextButton" ui-sref="tab">
    Next >
  </paper-button>
</div>
