<body class="fullbleed vertical layout">
<!-- paper.html-header-panel must have an explicit height -->
<div>Worries about being assaulted or mugged <span class="caption"></span></div><br>
<paper-slider label="Worries about being assaulted or mugged" class="grade"></paper-slider>

<div>Worries about car and the stuff in it being stolen <span class="caption"></span></div><br>
<paper-slider label="Worries about car and the stuff in it being stolen" class="grade"></paper-slider>

<div>Worries about theft and burglars <span class="caption" ></span></div><br>
<paper-slider label="Worries about theft and burglars" class="grade"></paper-slider>

<div>Worries about being defrauded <span class="caption"></span></div><br>
<paper-slider label="Worries about being defrauded" class="grade"></paper-slider>

<div>Worries about breach of privacy <span  class="caption"></span></div><br>
<paper-slider label="Worries about breach of privacy" class="grade"></paper-slider>

<paper-input label=" In which canton do you live? Please indicate your canton or the foreign country
"></paper-input>

<div>Grade: <span id="gradeLabel" class="caption"></span></div><br>
<paper-slider id="grade" pin value="20" secondary-progress="70"></paper-slider>

<script>
    document.addEventListener('WebComponentsReady', function() {
        var ratings = document.querySelector('#ratings');
        ratings.addEventListener('value-change', function() {
            document.querySelector('#ratingsLabel').textContent = ratings.value;
        });

        var grade = document.querySelector('#grade');
        grade.addEventListener('value-change', function() {
            var label = (grade.value < grade.secondaryProgress) ? "Fail" : "Pass" ;
            document.querySelector('#gradeLabel').textContent = grade.value + " (" + label + ")";
        });
    });
</script>
