<!-- <div id="container1">
    <paper-card id="sheet" heading="" image="assets/images/diabolik.jpg">
        <div class="card-content">
            <h1>Diabolik</h1>
            In 2014, There were a total of 41 murders in Switzerland and had a murder rate of 0.49 per 100,000 population, the lowest raw figure and lowest rate for 33 years, since the start of the nationwide coordinated collection of statistical data, despite a strong growth of inhabitants (from 6.4 million to 8.1 million, +27%) over the same period        </div>
        <div class="card-actions">
            <paper-button>Share</paper-button>
            <paper-button>Explore!</paper-button>
        </div>
    </paper-card>
</div> -->


<div layout="row" layout-align="center center" flex>

    <div class="paper-container">
        <paper-material elevation="3" id="sheet" >

            <div>Worries about being assaulted or mugged  <span id="gradeLabel" class="caption"></span></div>
            <paper-slider  id="grade" name="assault" pin value="0" editable ng-model="mydata.assault"></paper-slider>

            <div>Worries about car and the stuff in it being stolen <span id="gradeLabel" class="caption"></span></div>
            <paper-slider id="grade" name="car" pin value="0" editable ng-model="mydata.car"></paper-slider>
            

            <div>Worries about theft and burglars <span id="gradeLabel" class="caption"></span></div>
            <paper-slider id="grade" name="theft" pin value="0" editable ng-model="mydata.theft"></paper-slider>
            
            <div>Worries about being defrauded <span id="gradeLabel" class="caption"></span></div>
            <paper-slider id="grade" name="fraud" pin value="0" editable ng-model="mydata.fraud"></paper-slider>
            
            <div>Worries about breach of privacy<span id="gradeLabel" class="caption"></span></div>
            <paper-slider id="grade" name="privacy" pin value="0" editable ng-model="mydata.privacy"></paper-slider>
            
            

            <paper-dropdown-menu label="Canton" vertical-align="bottom" horizontal-align="left">
                <paper-listbox class="dropdown-content" value="" name="kanton" ng-model="mydata.kanton">
                    <paper-item>Estero</paper-item>
                    <paper-item>Ticino</paper-item>
                    <paper-item>Uri</paper-item>
                    <paper-item>Svitto</paper-item>
                    <paper-item>Obvaldo</paper-item>
                    <paper-item>Nidvaldo</paper-item>
                    <paper-item>Lucerna</paper-item>
                    <paper-item>Zurigo</paper-item>
                    <paper-item>Glarona</paper-item>
                    <paper-item>Zugo</paper-item>
                    <paper-item>Berna</paper-item>
                    <paper-item>Friburgo</paper-item>
                    <paper-item>Soletta</paper-item>
                    <paper-item>Basilea Città</paper-item>
                    <paper-item>Basilea Campagna</paper-item>
                    <paper-item>Sciaffusa</paper-item>
                    <paper-item>Appenzello Esterno</paper-item>
                    <paper-item>Appenzello Interno</paper-item>
                    <paper-item>San Gallo</paper-item>
                    <paper-item>Grigioni</paper-item>
                    <paper-item>Argovia</paper-item>
                    <paper-item>Argovia</paper-item>
                    <paper-item>Turgovia</paper-item>
                    <paper-item>Vaud</paper-item>
                    <paper-item>Vallese</paper-item>
                    <paper-item>Neuchâtel</paper-item>
                    <paper-item>Giura</paper-item>
                    <paper-item>Ginevra</paper-item>
                </paper-listbox>
            </paper-dropdown-menu>
            <paper-button  id="nextButton" ng-click="xxx()">
                Next >
            </paper-button>

        </paper-material>

    </div>


</div>
