<div class="landing_wrap" layout="row" flex>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%"
     height="100%" viewBox="0 0 1920 1080" enable-background="new 0 0 1920 1080" xml:space="preserve">
  <g id="Layer_1">
    <rect y="0.001" fill="#E72225" width="1920" height="1080"/>
    <g id="crocini" opacity="0.7">
      <polygon fill="#FFFFFF" points="506.986,218.771 498.371,218.771 498.371,210.155 495.602,210.155 495.602,218.771 
        486.986,218.771 486.986,221.54 495.602,221.54 495.602,230.155 498.371,230.155 498.371,221.54 506.986,221.54     "/>
      <polygon fill="#FFFFFF" points="381.615,289.86 373,289.86 373,281.245 370.23,281.245 370.23,289.86 361.615,289.86 
        361.615,292.63 370.23,292.63 370.23,301.245 373,301.245 373,292.63 381.615,292.63     "/>
      <polygon fill="#FFFFFF" points="421.615,375.86 413,375.86 413,367.245 410.23,367.245 410.23,375.86 401.615,375.86 
        401.615,378.63 410.23,378.63 410.23,387.245 413,387.245 413,378.63 421.615,378.63     "/>
      <polygon fill="#FFFFFF" points="321.139,289.86 312.523,289.86 312.523,281.245 309.754,281.245 309.754,289.86 301.139,289.86 
        301.139,292.63 309.754,292.63 309.754,301.245 312.523,301.245 312.523,292.63 321.139,292.63     "/>
      <polygon fill="#FFFFFF" points="194.127,1019.245 185.512,1019.245 185.512,1010.63 182.742,1010.63 182.742,1019.245 
        174.127,1019.245 174.127,1022.015 182.742,1022.015 182.742,1030.63 185.512,1030.63 185.512,1022.015 194.127,1022.015    "/>
      <polygon fill="#FFFFFF" points="330.385,361.169 321.77,361.169 321.77,352.554 319,352.554 319,361.169 310.385,361.169 
        310.385,363.938 319,363.938 319,372.554 321.77,372.554 321.77,363.938 330.385,363.938     "/>
      <polygon fill="#FFFFFF" points="204.127,405.86 195.512,405.86 195.512,397.245 192.742,397.245 192.742,405.86 184.127,405.86 
        184.127,408.63 192.742,408.63 192.742,417.245 195.512,417.245 195.512,408.63 204.127,408.63     "/>
      <polygon fill="#FFFFFF" points="331.139,432.423 322.523,432.423 322.523,423.808 319.754,423.808 319.754,432.423 
        311.139,432.423 311.139,435.192 319.754,435.192 319.754,443.808 322.523,443.808 322.523,435.192 331.139,435.192     "/>
      <polygon fill="#FFFFFF" points="119,351.169 110.385,351.169 110.385,342.554 107.615,342.554 107.615,351.169 99,351.169 
        99,353.938 107.615,353.938 107.615,362.554 110.385,362.554 110.385,353.938 119,353.938    "/>
      <polygon fill="#FFFFFF" points="119,503.185 110.385,503.185 110.385,494.569 107.615,494.569 107.615,503.185 99,503.185 
        99,505.954 107.615,505.954 107.615,514.569 110.385,514.569 110.385,505.954 119,505.954    "/>
      <polygon fill="#FFFFFF" points="1140.721,351.169 1132.105,351.169 1132.105,342.554 1129.336,342.554 1129.336,351.169 
        1120.721,351.169 1120.721,353.938 1129.336,353.938 1129.336,362.554 1132.105,362.554 1132.105,353.938 1140.721,353.938    "/>
      <polygon fill="#FFFFFF" points="1229.459,279.86 1220.844,279.86 1220.844,271.245 1218.074,271.245 1218.074,279.86 
        1209.459,279.86 1209.459,282.63 1218.074,282.63 1218.074,291.245 1220.844,291.245 1220.844,282.63 1229.459,282.63     "/>
      <polygon fill="#FFFFFF" points="1278.385,371.169 1269.77,371.169 1269.77,362.554 1267,362.554 1267,371.169 1258.385,371.169 
        1258.385,373.938 1267,373.938 1267,382.554 1269.77,382.554 1269.77,373.938 1278.385,373.938     "/>
      <polygon fill="#FFFFFF" points="1199.458,816.831 1190.843,816.831 1190.843,808.216 1188.073,808.216 1188.073,816.831 
        1179.458,816.831 1179.458,819.601 1188.073,819.601 1188.073,828.216 1190.843,828.216 1190.843,819.601 1199.458,819.601    "/>
      <polygon fill="#FFFFFF" points="1322.818,208.771 1314.203,208.771 1314.203,200.155 1311.434,200.155 1311.434,208.771 
        1302.818,208.771 1302.818,211.54 1311.434,211.54 1311.434,220.155 1314.203,220.155 1314.203,211.54 1322.818,211.54    "/>
      <polygon fill="#FFFFFF" points="1312.818,76.761 1304.203,76.761 1304.203,68.146 1301.434,68.146 1301.434,76.761 
        1292.818,76.761 1292.818,79.53 1301.434,79.53 1301.434,88.146 1304.203,88.146 1304.203,79.53 1312.818,79.53     "/>
      <polygon fill="#FFFFFF" points="1394.213,304.78 1385.598,304.78 1385.598,296.165 1382.828,296.165 1382.828,304.78 
        1374.213,304.78 1374.213,307.55 1382.828,307.55 1382.828,316.165 1385.598,316.165 1385.598,307.55 1394.213,307.55     "/>
      <polygon fill="#FFFFFF" points="1508.385,259.86 1499.77,259.86 1499.77,251.245 1497,251.245 1497,259.86 1488.385,259.86 
        1488.385,262.63 1497,262.63 1497,271.245 1499.77,271.245 1499.77,262.63 1508.385,262.63     "/>
      <polygon fill="#FFFFFF" points="1468.385,395.86 1459.77,395.86 1459.77,387.245 1457,387.245 1457,395.86 1448.385,395.86 
        1448.385,398.63 1457,398.63 1457,407.245 1459.77,407.245 1459.77,398.63 1468.385,398.63     "/>
      <polygon fill="#FFFFFF" points="239.131,116.761 230.516,116.761 230.516,108.146 227.746,108.146 227.746,116.761 
        219.131,116.761 219.131,119.53 227.746,119.53 227.746,128.146 230.516,128.146 230.516,119.53 239.131,119.53     "/>
      <polygon fill="#FFFFFF" points="320.385,158.765 311.77,158.765 311.77,150.149 309,150.149 309,158.765 300.385,158.765 
        300.385,161.534 309,161.534 309,170.149 311.77,170.149 311.77,161.534 320.385,161.534     "/>
      <polygon fill="#FFFFFF" points="371.615,86.761 363,86.761 363,78.146 360.23,78.146 360.23,86.761 351.615,86.761 351.615,89.53 
        360.23,89.53 360.23,98.146 363,98.146 363,89.53 371.615,89.53     "/>
      <polygon fill="#FFFFFF" points="628.103,279.86 619.487,279.86 619.487,271.245 616.718,271.245 616.718,279.86 608.103,279.86 
        608.103,282.63 616.718,282.63 616.718,291.245 619.487,291.245 619.487,282.63 628.103,282.63     "/>
      <polygon fill="#FFFFFF" points="194.127,314.78 185.512,314.78 185.512,306.165 182.742,306.165 182.742,314.78 174.127,314.78 
        174.127,317.55 182.742,317.55 182.742,326.165 185.512,326.165 185.512,317.55 194.127,317.55     "/>
      <polygon fill="#FFFFFF" points="75,259.86 66.385,259.86 66.385,251.245 63.615,251.245 63.615,259.86 55,259.86 55,262.63 
        63.615,262.63 63.615,271.245 66.385,271.245 66.385,262.63 75,262.63     "/>
      <polygon fill="#FFFFFF" points="174.127,228.771 165.512,228.771 165.512,220.155 162.742,220.155 162.742,228.771 
        154.127,228.771 154.127,231.54 162.742,231.54 162.742,240.155 165.512,240.155 165.512,231.54 174.127,231.54     "/>
      <polygon fill="#FFFFFF" points="119,178.765 110.385,178.765 110.385,170.149 107.615,170.149 107.615,178.765 99,178.765 
        99,181.534 107.615,181.534 107.615,190.149 110.385,190.149 110.385,181.534 119,181.534    "/>
      <polygon fill="#FFFFFF" points="1404.212,462.796 1395.597,462.796 1395.597,454.181 1392.827,454.181 1392.827,462.796 
        1384.212,462.796 1384.212,465.565 1392.827,465.565 1392.827,474.181 1395.597,474.181 1395.597,465.565 1404.212,465.565    "/>
      <polygon fill="#FFFFFF" points="1424.213,681.815 1415.598,681.815 1415.598,673.2 1412.828,673.2 1412.828,681.815 
        1404.213,681.815 1404.213,684.585 1412.828,684.585 1412.828,693.2 1415.598,693.2 1415.598,684.585 1424.213,684.585    "/>
      <polygon fill="#FFFFFF" points="1698.385,645.812 1689.77,645.812 1689.77,637.196 1687,637.196 1687,645.812 1678.385,645.812 
        1678.385,648.581 1687,648.581 1687,657.196 1689.77,657.196 1689.77,648.581 1698.385,648.581     "/>
      <polygon fill="#FFFFFF" points="1414.213,836.831 1405.598,836.831 1405.598,828.216 1402.828,828.216 1402.828,836.831 
        1394.213,836.831 1394.213,839.601 1402.828,839.601 1402.828,848.216 1405.598,848.216 1405.598,839.601 1414.213,839.601    "/>
      <polygon fill="#FFFFFF" points="1278.385,911.86 1269.77,911.86 1269.77,903.245 1267,903.245 1267,911.86 1258.385,911.86 
        1258.385,914.63 1267,914.63 1267,923.245 1269.77,923.245 1269.77,914.63 1278.385,914.63     "/>
      <polygon fill="#FFFFFF" points="1478.385,979.245 1469.77,979.245 1469.77,970.63 1467,970.63 1467,979.245 1458.385,979.245 
        1458.385,982.015 1467,982.015 1467,990.63 1469.77,990.63 1469.77,982.015 1478.385,982.015     "/>
      <polygon fill="#FFFFFF" points="1651.501,771.226 1642.886,771.226 1642.886,762.61 1640.116,762.61 1640.116,771.226 
        1631.501,771.226 1631.501,773.995 1640.116,773.995 1640.116,782.61 1642.886,782.61 1642.886,773.995 1651.501,773.995    "/>
      <polygon fill="#FFFFFF" points="1794.385,876.831 1785.77,876.831 1785.77,868.216 1783,868.216 1783,876.831 1774.385,876.831 
        1774.385,879.601 1783,879.601 1783,888.216 1785.77,888.216 1785.77,879.601 1794.385,879.601     "/>
      <polygon fill="#FFFFFF" points="1439.615,136.761 1431,136.761 1431,128.146 1428.23,128.146 1428.23,136.761 1419.615,136.761 
        1419.615,139.53 1428.23,139.53 1428.23,148.146 1431,148.146 1431,139.53 1439.615,139.53     "/>
      <polygon fill="#FFFFFF" points="1587.615,146.761 1579,146.761 1579,138.146 1576.23,138.146 1576.23,146.761 1567.615,146.761 
        1567.615,149.53 1576.23,149.53 1576.23,158.146 1579,158.146 1579,149.53 1587.615,149.53     "/>
      <polygon fill="#FFFFFF" points="1755.615,146.761 1747,146.761 1747,138.146 1744.23,138.146 1744.23,146.761 1735.615,146.761 
        1735.615,149.53 1744.23,149.53 1744.23,158.146 1747,158.146 1747,149.53 1755.615,149.53     "/>
      <polygon fill="#FFFFFF" points="1862.385,86.761 1853.77,86.761 1853.77,78.146 1851,78.146 1851,86.761 1842.385,86.761 
        1842.385,89.53 1851,89.53 1851,98.146 1853.77,98.146 1853.77,89.53 1862.385,89.53     "/>
      <polygon fill="#FFFFFF" points="1814.385,-1.384 1805.77,-1.384 1805.77,-9.999 1803,-9.999 1803,-1.384 1794.385,-1.384 
        1794.385,1.386 1803,1.386 1803,10.001 1805.77,10.001 1805.77,1.386 1814.385,1.386     "/>
      <polygon fill="#FFFFFF" points="1678.385,76.761 1669.77,76.761 1669.77,68.146 1667,68.146 1667,76.761 1658.385,76.761 
        1658.385,79.53 1667,79.53 1667,88.146 1669.77,88.146 1669.77,79.53 1678.385,79.53     "/>
      <polygon fill="#FFFFFF" points="1587.615,8.616 1579,8.616 1579,0.001 1576.23,0.001 1576.23,8.616 1567.615,8.616 
        1567.615,11.386 1576.23,11.386 1576.23,20.001 1579,20.001 1579,11.386 1587.615,11.386     "/>
      <polygon fill="#FFFFFF" points="658.103,1068.616 649.487,1068.616 649.487,1060.001 646.718,1060.001 646.718,1068.616 
        638.103,1068.616 638.103,1071.386 646.718,1071.386 646.718,1080.001 649.487,1080.001 649.487,1071.386 658.103,1071.386    "/>
      <polygon fill="#FFFFFF" points="580.385,921.86 571.77,921.86 571.77,913.245 569,913.245 569,921.86 560.385,921.86 
        560.385,924.63 569,924.63 569,933.245 571.77,933.245 571.77,924.63 580.385,924.63     "/>
      <polygon fill="#FFFFFF" points="708.103,806.831 699.487,806.831 699.487,798.216 696.718,798.216 696.718,806.831 
        688.103,806.831 688.103,809.601 696.718,809.601 696.718,818.216 699.487,818.216 699.487,809.601 708.103,809.601     "/>
      <polygon fill="#FFFFFF" points="628.104,751.226 619.488,751.226 619.488,742.61 616.719,742.61 616.719,751.226 608.104,751.226 
        608.104,753.995 616.719,753.995 616.719,762.61 619.488,762.61 619.488,753.995 628.104,753.995     "/>
      <polygon fill="#FFFFFF" points="1003.975,761.226 995.359,761.226 995.359,752.61 992.59,752.61 992.59,761.226 983.975,761.226 
        983.975,763.995 992.59,763.995 992.59,772.61 995.359,772.61 995.359,763.995 1003.975,763.995    "/>
      <polygon fill="#FFFFFF" points="1116.385,602.438 1107.77,602.438 1107.77,593.823 1105,593.823 1105,602.438 1096.385,602.438 
        1096.385,605.208 1105,605.208 1105,613.823 1107.77,613.823 1107.77,605.208 1116.385,605.208     "/>
      <polygon fill="#FFFFFF" points="496.986,513.185 488.371,513.185 488.371,504.569 485.602,504.569 485.602,513.185 
        476.986,513.185 476.986,515.954 485.602,515.954 485.602,524.569 488.371,524.569 488.371,515.954 496.986,515.954     "/>
      <polygon fill="#FFFFFF" points="791.463,218.771 782.848,218.771 782.848,210.155 780.078,210.155 780.078,218.771 
        771.463,218.771 771.463,221.54 780.078,221.54 780.078,230.155 782.848,230.155 782.848,221.54 791.463,221.54     "/>
      <polygon fill="#FFFFFF" points="1631.501,218.771 1622.886,218.771 1622.886,210.155 1620.116,210.155 1620.116,218.771 
        1611.501,218.771 1611.501,221.54 1620.116,221.54 1620.116,230.155 1622.886,230.155 1622.886,221.54 1631.501,221.54    "/>
      <polygon fill="#FFFFFF" points="1784.385,361.169 1775.77,361.169 1775.77,352.554 1773,352.554 1773,361.169 1764.385,361.169 
        1764.385,363.938 1773,363.938 1773,372.554 1775.77,372.554 1775.77,363.938 1784.385,363.938     "/>
      <polygon fill="#FFFFFF" points="1922.385,218.771 1913.77,218.771 1913.77,210.155 1911,210.155 1911,218.771 1902.385,218.771 
        1902.385,221.54 1911,221.54 1911,230.155 1913.77,230.155 1913.77,221.54 1922.385,221.54     "/>
      <polygon fill="#FFFFFF" points="1882.385,442.423 1873.77,442.423 1873.77,433.808 1871,433.808 1871,442.423 1862.385,442.423 
        1862.385,445.192 1871,445.192 1871,453.808 1873.77,453.808 1873.77,445.192 1882.385,445.192     "/>
      <polygon fill="#FFFFFF" points="1902.385,635.812 1893.77,635.812 1893.77,627.196 1891,627.196 1891,635.812 1882.385,635.812 
        1882.385,638.581 1891,638.581 1891,647.196 1893.77,647.196 1893.77,638.581 1902.385,638.581     "/>
      <polygon fill="#FFFFFF" points="1902.385,921.86 1893.77,921.86 1893.77,913.245 1891,913.245 1891,921.86 1882.385,921.86 
        1882.385,924.63 1891,924.63 1891,933.245 1893.77,933.245 1893.77,924.63 1902.385,924.63     "/>
      <polygon fill="#FFFFFF" points="1668.385,1068.616 1659.77,1068.616 1659.77,1060.001 1657,1060.001 1657,1068.616 
        1648.385,1068.616 1648.385,1071.386 1657,1071.386 1657,1080.001 1659.77,1080.001 1659.77,1071.386 1668.385,1071.386     "/>
      <polygon fill="#FFFFFF" points="1023.975,671.815 1015.359,671.815 1015.359,663.2 1012.59,663.2 1012.59,671.815 
        1003.975,671.815 1003.975,674.585 1012.59,674.585 1012.59,683.2 1015.359,683.2 1015.359,674.585 1023.975,674.585    "/>
      <polygon fill="#FFFFFF" points="1086.385,989.245 1077.77,989.245 1077.77,980.63 1075,980.63 1075,989.245 1066.385,989.245 
        1066.385,992.015 1075,992.015 1075,1000.63 1077.77,1000.63 1077.77,992.015 1086.385,992.015     "/>
      <polygon fill="#FFFFFF" points="931.615,472.796 923,472.796 923,464.181 920.23,464.181 920.23,472.796 911.615,472.796 
        911.615,475.565 920.23,475.565 920.23,484.181 923,484.181 923,475.565 931.615,475.565     "/>
      <polygon fill="#FFFFFF" points="688.103,472.796 679.487,472.796 679.487,464.181 676.718,464.181 676.718,472.796 
        668.103,472.796 668.103,475.565 676.718,475.565 676.718,484.181 679.487,484.181 679.487,475.565 688.103,475.565     "/>
      <polygon fill="#FFFFFF" points="600.385,415.86 591.77,415.86 591.77,407.245 589,407.245 589,415.86 580.385,415.86 
        580.385,418.63 589,418.63 589,427.245 591.77,427.245 591.77,418.63 600.385,418.63     "/>
      <polygon fill="#FFFFFF" points="536.986,341.169 528.371,341.169 528.371,332.554 525.602,332.554 525.602,341.169 
        516.986,341.169 516.986,343.938 525.602,343.938 525.602,352.554 528.371,352.554 528.371,343.938 536.986,343.938     "/>
      <polygon fill="#FFFFFF" points="465.615,279.86 457,279.86 457,271.245 454.23,271.245 454.23,279.86 445.615,279.86 
        445.615,282.63 454.23,282.63 454.23,291.245 457,291.245 457,282.63 465.615,282.63     "/>
      <polygon fill="#FFFFFF" points="401.615,168.765 393,168.765 393,160.149 390.23,160.149 390.23,168.765 381.615,168.765 
        381.615,171.534 390.23,171.534 390.23,180.149 393,180.149 393,171.534 401.615,171.534     "/>
      <polygon fill="#FFFFFF" points="401.615,6.351 393,6.351 393,-2.265 390.23,-2.265 390.23,6.351 381.615,6.351 381.615,9.12 
        390.23,9.12 390.23,17.735 393,17.735 393,9.12 401.615,9.12    "/>
      <polygon fill="#FFFFFF" points="600.385,63.86 591.77,63.86 591.77,55.245 589,55.245 589,63.86 580.385,63.86 580.385,66.63 
        589,66.63 589,75.245 591.77,75.245 591.77,66.63 600.385,66.63     "/>
      <polygon fill="#FFFFFF" points="1302.818,625.812 1294.203,625.812 1294.203,617.196 1291.434,617.196 1291.434,625.812 
        1282.818,625.812 1282.818,628.581 1291.434,628.581 1291.434,637.196 1294.203,637.196 1294.203,628.581 1302.818,628.581    "/>
      <polygon fill="#FFFFFF" points="516.986,106.761 508.371,106.761 508.371,98.146 505.602,98.146 505.602,106.761 496.986,106.761 
        496.986,109.53 505.602,109.53 505.602,118.146 508.371,118.146 508.371,109.53 516.986,109.53     "/>
      <polygon fill="#FFFFFF" points="184.127,18.616 175.512,18.616 175.512,10.001 172.742,10.001 172.742,18.616 164.127,18.616 
        164.127,21.386 172.742,21.386 172.742,30.001 175.512,30.001 175.512,21.386 184.127,21.386     "/>
      <polygon fill="#FFFFFF" points="164.127,86.761 155.512,86.761 155.512,78.146 152.742,78.146 152.742,86.761 144.127,86.761 
        144.127,89.53 152.742,89.53 152.742,98.146 155.512,98.146 155.512,89.53 164.127,89.53     "/>
      <polygon fill="#FFFFFF" points="95,63.86 86.385,63.86 86.385,55.245 83.615,55.245 83.615,63.86 75,63.86 75,66.63 83.615,66.63 
        83.615,75.245 86.385,75.245 86.385,66.63 95,66.63     "/>
      <polygon fill="#FFFFFF" points="34.385,126.761 25.77,126.761 25.77,118.146 23,118.146 23,126.761 14.385,126.761 14.385,129.53 
        23,129.53 23,138.146 25.77,138.146 25.77,129.53 34.385,129.53     "/>
      <polygon fill="#FFFFFF" points="10,415.86 1.385,415.86 1.385,407.245 -1.385,407.245 -1.385,415.86 -10,415.86 -10,418.63 
        -1.385,418.63 -1.385,427.245 1.385,427.245 1.385,418.63 10,418.63     "/>
      <polygon fill="#FFFFFF" points="736.385,86.761 727.77,86.761 727.77,78.146 725,78.146 725,86.761 716.385,86.761 716.385,89.53 
        725,89.53 725,98.146 727.77,98.146 727.77,89.53 736.385,89.53     "/>
      <polygon fill="#FFFFFF" points="698.103,188.765 689.487,188.765 689.487,180.149 686.718,180.149 686.718,188.765 
        678.103,188.765 678.103,191.534 686.718,191.534 686.718,200.149 689.487,200.149 689.487,191.534 698.103,191.534     "/>
      <polygon fill="#FFFFFF" points="901.615,188.765 893,188.765 893,180.149 890.23,180.149 890.23,188.765 881.615,188.765 
        881.615,191.534 890.23,191.534 890.23,200.149 893,200.149 893,191.534 901.615,191.534     "/>
      <polygon fill="#FFFFFF" points="1209.459,6.349 1200.844,6.349 1200.844,-2.267 1198.074,-2.267 1198.074,6.349 1189.459,6.349 
        1189.459,9.118 1198.074,9.118 1198.074,17.733 1200.844,17.733 1200.844,9.118 1209.459,9.118     "/>
      <polygon fill="#FFFFFF" points="1219.459,96.761 1210.844,96.761 1210.844,88.146 1208.074,88.146 1208.074,96.761 
        1199.459,96.761 1199.459,99.53 1208.074,99.53 1208.074,108.146 1210.844,108.146 1210.844,99.53 1219.459,99.53     "/>
      <polygon fill="#FFFFFF" points="1478.385,73.86 1469.77,73.86 1469.77,65.245 1467,65.245 1467,73.86 1458.385,73.86 
        1458.385,76.63 1467,76.63 1467,85.245 1469.77,85.245 1469.77,76.63 1478.385,76.63     "/>
      <polygon fill="#FFFFFF" points="1688.385,493.185 1679.77,493.185 1679.77,484.569 1677,484.569 1677,493.185 1668.385,493.185 
        1668.385,495.954 1677,495.954 1677,504.569 1679.77,504.569 1679.77,495.954 1688.385,495.954     "/>
      <polygon fill="#FFFFFF" points="1658.385,324.78 1649.77,324.78 1649.77,316.165 1647,316.165 1647,324.78 1638.385,324.78 
        1638.385,327.55 1647,327.55 1647,336.165 1649.77,336.165 1649.77,327.55 1658.385,327.55     "/>
      <polygon fill="#FFFFFF" points="1745.615,289.86 1737,289.86 1737,281.245 1734.23,281.245 1734.23,289.86 1725.615,289.86 
        1725.615,292.63 1734.23,292.63 1734.23,301.245 1737,301.245 1737,292.63 1745.615,292.63     "/>
      <polygon fill="#FFFFFF" points="1814.385,249.86 1805.77,249.86 1805.77,241.245 1803,241.245 1803,249.86 1794.385,249.86 
        1794.385,252.63 1803,252.63 1803,261.245 1805.77,261.245 1805.77,252.63 1814.385,252.63     "/>
      <polygon fill="#FFFFFF" points="1199.459,645.812 1190.844,645.812 1190.844,637.196 1188.074,637.196 1188.074,645.812 
        1179.459,645.812 1179.459,648.581 1188.074,648.581 1188.074,657.196 1190.844,657.196 1190.844,648.581 1199.459,648.581    "/>
      <polygon fill="#FFFFFF" points="1160.721,721.226 1152.105,721.226 1152.105,712.61 1149.336,712.61 1149.336,721.226 
        1140.721,721.226 1140.721,723.995 1149.336,723.995 1149.336,732.61 1152.105,732.61 1152.105,723.995 1160.721,723.995    "/>
      <polygon fill="#FFFFFF" points="1498.385,751.226 1489.77,751.226 1489.77,742.61 1487,742.61 1487,751.226 1478.385,751.226 
        1478.385,753.995 1487,753.995 1487,762.61 1489.77,762.61 1489.77,753.995 1498.385,753.995     "/>
      <polygon fill="#FFFFFF" points="1794.385,771.226 1785.77,771.226 1785.77,762.61 1783,762.61 1783,771.226 1774.385,771.226 
        1774.385,773.995 1783,773.995 1783,782.61 1785.77,782.61 1785.77,773.995 1794.385,773.995     "/>
      <polygon fill="#FFFFFF" points="1023.975,158.765 1015.359,158.765 1015.359,150.149 1012.59,150.149 1012.59,158.765 
        1003.975,158.765 1003.975,161.534 1012.59,161.534 1012.59,170.149 1015.359,170.149 1015.359,161.534 1023.975,161.534    "/>
      <polygon fill="#FFFFFF" points="1078.385,66.761 1069.77,66.761 1069.77,58.146 1067,58.146 1067,66.761 1058.385,66.761 
        1058.385,69.53 1067,69.53 1067,78.146 1069.77,78.146 1069.77,69.53 1078.385,69.53     "/>
      <polygon fill="#FFFFFF" points="648.103,136.761 639.487,136.761 639.487,128.146 636.718,128.146 636.718,136.761 
        628.103,136.761 628.103,139.53 636.718,139.53 636.718,148.146 639.487,148.146 639.487,139.53 648.103,139.53     "/>
      <polygon fill="#FFFFFF" points="921.615,53.86 913,53.86 913,45.245 910.23,45.245 910.23,53.86 901.615,53.86 901.615,56.63 
        910.23,56.63 910.23,65.245 913,65.245 913,56.63 921.615,56.63     "/>
      <polygon fill="#FFFFFF" points="736.385,-1.384 727.77,-1.384 727.77,-9.999 725,-9.999 725,-1.384 716.385,-1.384 716.385,1.386 
        725,1.386 725,10.001 727.77,10.001 727.77,1.386 736.385,1.386     "/>
      <polygon fill="#FFFFFF" points="648.103,341.169 639.487,341.169 639.487,332.554 636.718,332.554 636.718,341.169 
        628.103,341.169 628.103,343.938 636.718,343.938 636.718,352.554 639.487,352.554 639.487,343.938 648.103,343.938     "/>
      <polygon fill="#FFFFFF" points="781.463,671.815 772.848,671.815 772.848,663.2 770.078,663.2 770.078,671.815 761.463,671.815 
        761.463,674.585 770.078,674.585 770.078,683.2 772.848,683.2 772.848,674.585 781.463,674.585     "/>
      <polygon fill="#FFFFFF" points="911.615,635.812 903,635.812 903,627.196 900.23,627.196 900.23,635.812 891.615,635.812 
        891.615,638.581 900.23,638.581 900.23,647.196 903,647.196 903,638.581 911.615,638.581     "/>
      <polygon fill="#FFFFFF" points="993.975,542.476 985.359,542.476 985.359,533.86 982.59,533.86 982.59,542.476 973.975,542.476 
        973.975,545.245 982.59,545.245 982.59,553.86 985.359,553.86 985.359,545.245 993.975,545.245     "/>
      <polygon fill="#FFFFFF" points="864.385,901.86 855.77,901.86 855.77,893.245 853,893.245 853,901.86 844.385,901.86 
        844.385,904.63 853,904.63 853,913.245 855.77,913.245 855.77,904.63 864.385,904.63     "/>
      <polygon fill="#FFFFFF" points="751.463,901.86 742.848,901.86 742.848,893.245 740.078,893.245 740.078,901.86 731.463,901.86 
        731.463,904.63 740.078,904.63 740.078,913.245 742.848,913.245 742.848,904.63 751.463,904.63     "/>
      <polygon fill="#FFFFFF" points="874.385,781.226 865.77,781.226 865.77,772.61 863,772.61 863,781.226 854.385,781.226 
        854.385,783.995 863,783.995 863,792.61 865.77,792.61 865.77,783.995 874.385,783.995     "/>
      <polygon fill="#FFFFFF" points="726.385,989.245 717.77,989.245 717.77,980.63 715,980.63 715,989.245 706.385,989.245 
        706.385,992.015 715,992.015 715,1000.63 717.77,1000.63 717.77,992.015 726.385,992.015     "/>
      <polygon fill="#FFFFFF" points="954.385,1009.245 945.77,1009.245 945.77,1000.63 943,1000.63 943,1009.245 934.385,1009.245 
        934.385,1012.015 943,1012.015 943,1020.63 945.77,1020.63 945.77,1012.015 954.385,1012.015     "/>
      <polygon fill="#FFFFFF" points="1096.385,836.831 1087.77,836.831 1087.77,828.216 1085,828.216 1085,836.831 1076.385,836.831 
        1076.385,839.601 1085,839.601 1085,848.216 1087.77,848.216 1087.77,839.601 1096.385,839.601     "/>
      <polygon fill="#FFFFFF" points="1003.975,836.831 995.359,836.831 995.359,828.216 992.59,828.216 992.59,836.831 
        983.975,836.831 983.975,839.601 992.59,839.601 992.59,848.216 995.359,848.216 995.359,839.601 1003.975,839.601    "/>
      <polygon fill="#FFFFFF" points="801.463,452.423 792.848,452.423 792.848,443.808 790.078,443.808 790.078,452.423 
        781.463,452.423 781.463,455.192 790.078,455.192 790.078,463.808 792.848,463.808 792.848,455.192 801.463,455.192     "/>
      <polygon fill="#FFFFFF" points="854.385,542.476 845.77,542.476 845.77,533.86 843,533.86 843,542.476 834.385,542.476 
        834.385,545.245 843,545.245 843,553.86 845.77,553.86 845.77,545.245 854.385,545.245     "/>
      <polygon fill="#FFFFFF" points="1170.721,931.86 1162.105,931.86 1162.105,923.245 1159.336,923.245 1159.336,931.86 
        1150.721,931.86 1150.721,934.63 1159.336,934.63 1159.336,943.245 1162.105,943.245 1162.105,934.63 1170.721,934.63     "/>
      <polygon fill="#FFFFFF" points="1332.818,741.226 1324.203,741.226 1324.203,732.61 1321.434,732.61 1321.434,741.226 
        1312.818,741.226 1312.818,743.995 1321.434,743.995 1321.434,752.61 1324.203,752.61 1324.203,743.995 1332.818,743.995    "/>
      <polygon fill="#FFFFFF" points="1587.615,891.86 1579,891.86 1579,883.245 1576.23,883.245 1576.23,891.86 1567.615,891.86 
        1567.615,894.63 1576.23,894.63 1576.23,903.245 1579,903.245 1579,894.63 1587.615,894.63     "/>
      <polygon fill="#FFFFFF" points="1718.385,953.245 1709.77,953.245 1709.77,944.63 1707,944.63 1707,953.245 1698.385,953.245 
        1698.385,956.015 1707,956.015 1707,964.63 1709.77,964.63 1709.77,956.015 1718.385,956.015     "/>
      <polygon fill="#FFFFFF" points="1597.615,625.812 1589,625.812 1589,617.196 1586.23,617.196 1586.23,625.812 1577.615,625.812 
        1577.615,628.581 1586.23,628.581 1586.23,637.196 1589,637.196 1589,628.581 1597.615,628.581     "/>
      <polygon fill="#FFFFFF" points="1804.385,572.476 1795.77,572.476 1795.77,563.86 1793,563.86 1793,572.476 1784.385,572.476 
        1784.385,575.245 1793,575.245 1793,583.86 1795.77,583.86 1795.77,575.245 1804.385,575.245     "/>
      <polygon fill="#FFFFFF" points="1641.501,405.86 1632.886,405.86 1632.886,397.245 1630.116,397.245 1630.116,405.86 
        1621.501,405.86 1621.501,408.63 1630.116,408.63 1630.116,417.245 1632.886,417.245 1632.886,408.63 1641.501,408.63     "/>
      <polygon fill="#FFFFFF" points="1535.615,493.185 1527,493.185 1527,484.569 1524.23,484.569 1524.23,493.185 1515.615,493.185 
        1515.615,495.954 1524.23,495.954 1524.23,504.569 1527,504.569 1527,495.954 1535.615,495.954     "/>
      <polygon fill="#FFFFFF" points="1535.615,341.169 1527,341.169 1527,332.554 1524.23,332.554 1524.23,341.169 1515.615,341.169 
        1515.615,343.938 1524.23,343.938 1524.23,352.554 1527,352.554 1527,343.938 1535.615,343.938     "/>
      <polygon fill="#FFFFFF" points="1068.385,503.185 1059.77,503.185 1059.77,494.569 1057,494.569 1057,503.185 1048.385,503.185 
        1048.385,505.954 1057,505.954 1057,514.569 1059.77,514.569 1059.77,505.954 1068.385,505.954     "/>
      <polygon fill="#FFFFFF" points="864.385,385.86 855.77,385.86 855.77,377.245 853,377.245 853,385.86 844.385,385.86 
        844.385,388.63 853,388.63 853,397.245 855.77,397.245 855.77,388.63 864.385,388.63     "/>
      <polygon fill="#FFFFFF" points="1352.818,999.245 1344.203,999.245 1344.203,990.63 1341.434,990.63 1341.434,999.245 
        1332.818,999.245 1332.818,1002.015 1341.434,1002.015 1341.434,1010.63 1344.203,1010.63 1344.203,1002.015 1352.818,1002.015    
        "/>
      <polygon fill="#FFFFFF" points="771.463,324.78 762.848,324.78 762.848,316.165 760.078,316.165 760.078,324.78 751.463,324.78 
        751.463,327.55 760.078,327.55 760.078,336.165 762.848,336.165 762.848,327.55 771.463,327.55     "/>
      <polygon fill="#FFFFFF" points="1023.975,405.86 1015.359,405.86 1015.359,397.245 1012.59,397.245 1012.59,405.86 
        1003.975,405.86 1003.975,408.63 1012.59,408.63 1012.59,417.245 1015.359,417.245 1015.359,408.63 1023.975,408.63     "/>
      <polygon fill="#FFFFFF" points="954.385,279.86 945.77,279.86 945.77,271.245 943,271.245 943,279.86 934.385,279.86 
        934.385,282.63 943,282.63 943,291.245 945.77,291.245 945.77,282.63 954.385,282.63     "/>
      <polygon fill="#FFFFFF" points="1068.385,259.86 1059.77,259.86 1059.77,251.245 1057,251.245 1057,259.86 1048.385,259.86 
        1048.385,262.63 1057,262.63 1057,271.245 1059.77,271.245 1059.77,262.63 1068.385,262.63     "/>
      <polygon fill="#FFFFFF" points="1268.385,503.185 1259.77,503.185 1259.77,494.569 1257,494.569 1257,503.185 1248.385,503.185 
        1248.385,505.954 1257,505.954 1257,514.569 1259.77,514.569 1259.77,505.954 1268.385,505.954     "/>
      <polygon fill="#FFFFFF" points="1189.459,462.423 1180.844,462.423 1180.844,453.808 1178.074,453.808 1178.074,462.423 
        1169.459,462.423 1169.459,465.192 1178.074,465.192 1178.074,473.808 1180.844,473.808 1180.844,465.192 1189.459,465.192    "/>
      <polygon fill="#FFFFFF" points="1189.459,178.765 1180.844,178.765 1180.844,170.149 1178.074,170.149 1178.074,178.765 
        1169.459,178.765 1169.459,181.534 1178.074,181.534 1178.074,190.149 1180.844,190.149 1180.844,181.534 1189.459,181.534    "/>
      <polygon fill="#FFFFFF" points="610.385,562.476 601.77,562.476 601.77,553.86 599,553.86 599,562.476 590.385,562.476 
        590.385,565.245 599,565.245 599,573.86 601.77,573.86 601.77,565.245 610.385,565.245     "/>
      <polygon fill="#FFFFFF" points="761.463,582.476 752.848,582.476 752.848,573.86 750.078,573.86 750.078,582.476 741.463,582.476 
        741.463,585.245 750.078,585.245 750.078,593.86 752.848,593.86 752.848,585.245 761.463,585.245     "/>
      <polygon fill="#FFFFFF" points="496.986,415.86 488.371,415.86 488.371,407.245 485.602,407.245 485.602,415.86 476.986,415.86 
        476.986,418.63 485.602,418.63 485.602,427.245 488.371,427.245 488.371,418.63 496.986,418.63     "/>
      <polygon fill="#FFFFFF" points="340.385,552.476 331.77,552.476 331.77,543.86 329,543.86 329,552.476 320.385,552.476 
        320.385,555.245 329,555.245 329,563.86 331.77,563.86 331.77,555.245 340.385,555.245     "/>
      <polygon fill="#FFFFFF" points="437.615,681.815 429,681.815 429,673.2 426.23,673.2 426.23,681.815 417.615,681.815 
        417.615,684.585 426.23,684.585 426.23,693.2 429,693.2 429,684.585 437.615,684.585     "/>
      <polygon fill="#FFFFFF" points="321.14,681.815 312.524,681.815 312.524,673.2 309.755,673.2 309.755,681.815 301.14,681.815 
        301.14,684.585 309.755,684.585 309.755,693.2 312.524,693.2 312.524,684.585 321.14,684.585     "/>
      <polygon fill="#FFFFFF" points="447.615,602.438 439,602.438 439,593.823 436.23,593.823 436.23,602.438 427.615,602.438 
        427.615,605.208 436.23,605.208 436.23,613.823 439,613.823 439,605.208 447.615,605.208     "/>
      <polygon fill="#FFFFFF" points="229.132,513.185 220.517,513.185 220.517,504.569 217.747,504.569 217.747,513.185 
        209.132,513.185 209.132,515.954 217.747,515.954 217.747,524.569 220.517,524.569 220.517,515.954 229.132,515.954     "/>
      <polygon fill="#FFFFFF" points="24.385,572.476 15.77,572.476 15.77,563.86 13,563.86 13,572.476 4.385,572.476 4.385,575.245 
        13,575.245 13,583.86 15.77,583.86 15.77,575.245 24.385,575.245    "/>
      <polygon fill="#FFFFFF" points="239.132,741.226 230.517,741.226 230.517,732.61 227.747,732.61 227.747,741.226 219.132,741.226 
        219.132,743.995 227.747,743.995 227.747,752.61 230.517,752.61 230.517,743.995 239.132,743.995     "/>
      <polygon fill="#FFFFFF" points="75,681.815 66.385,681.815 66.385,673.2 63.615,673.2 63.615,681.815 55,681.815 55,684.585 
        63.615,684.585 63.615,693.2 66.385,693.2 66.385,684.585 75,684.585    "/>
      <polygon fill="#FFFFFF" points="65,796.831 56.385,796.831 56.385,788.216 53.615,788.216 53.615,796.831 45,796.831 45,799.601 
        53.615,799.601 53.615,808.216 56.385,808.216 56.385,799.601 65,799.601    "/>
      <polygon fill="#FFFFFF" points="129,856.831 120.385,856.831 120.385,848.216 117.615,848.216 117.615,856.831 109,856.831 
        109,859.601 117.615,859.601 117.615,868.216 120.385,868.216 120.385,859.601 129,859.601     "/>
      <polygon fill="#FFFFFF" points="229.132,866.831 220.517,866.831 220.517,858.216 217.747,858.216 217.747,866.831 
        209.132,866.831 209.132,869.601 217.747,869.601 217.747,878.216 220.517,878.216 220.517,869.601 229.132,869.601     "/>
      <polygon fill="#FFFFFF" points="174.127,751.226 165.512,751.226 165.512,742.61 162.742,742.61 162.742,751.226 154.127,751.226 
        154.127,753.995 162.742,753.995 162.742,762.61 165.512,762.61 165.512,753.995 174.127,753.995     "/>
      <polygon fill="#FFFFFF" points="259.132,953.245 250.517,953.245 250.517,944.63 247.747,944.63 247.747,953.245 239.132,953.245 
        239.132,956.015 247.747,956.015 247.747,964.63 250.517,964.63 250.517,956.015 259.132,956.015     "/>
      <polygon fill="#FFFFFF" points="65,1068.616 56.385,1068.616 56.385,1060.001 53.615,1060.001 53.615,1068.616 45,1068.616 
        45,1071.386 53.615,1071.386 53.615,1080.001 56.385,1080.001 56.385,1071.386 65,1071.386     "/>
      <polygon fill="#FFFFFF" points="391.615,979.245 383,979.245 383,970.63 380.23,970.63 380.23,979.245 371.615,979.245 
        371.615,982.015 380.23,982.015 380.23,990.63 383,990.63 383,982.015 391.615,982.015     "/>
      <polygon fill="#FFFFFF" points="411.615,866.831 403,866.831 403,858.216 400.23,858.216 400.23,866.831 391.615,866.831 
        391.615,869.601 400.23,869.601 400.23,878.216 403,878.216 403,869.601 411.615,869.601     "/>
      <polygon fill="#FFFFFF" points="401.615,791.226 393,791.226 393,782.61 390.23,782.61 390.23,791.226 381.615,791.226 
        381.615,793.995 390.23,793.995 390.23,802.61 393,802.61 393,793.995 401.615,793.995     "/>
      <polygon fill="#FFFFFF" points="526.986,781.226 518.371,781.226 518.371,772.61 515.602,772.61 515.602,781.226 506.986,781.226 
        506.986,783.995 515.602,783.995 515.602,792.61 518.371,792.61 518.371,783.995 526.986,783.995     "/>
      <polygon fill="#FFFFFF" points="526.986,856.831 518.371,856.831 518.371,848.216 515.602,848.216 515.602,856.831 
        506.986,856.831 506.986,859.601 515.602,859.601 515.602,868.216 518.371,868.216 518.371,859.601 526.986,859.601     "/>
      <polygon fill="#FFFFFF" points="506.986,999.245 498.371,999.245 498.371,990.63 495.602,990.63 495.602,999.245 486.986,999.245 
        486.986,1002.015 495.602,1002.015 495.602,1010.63 498.371,1010.63 498.371,1002.015 506.986,1002.015     "/>
      <polygon fill="#FFFFFF" points="638.103,671.815 629.487,671.815 629.487,663.2 626.718,663.2 626.718,671.815 618.103,671.815 
        618.103,674.585 626.718,674.585 626.718,683.2 629.487,683.2 629.487,674.585 638.103,674.585     "/>
      <polygon fill="#FFFFFF" points="546.986,655.812 538.371,655.812 538.371,647.196 535.602,647.196 535.602,655.812 
        526.986,655.812 526.986,658.581 535.602,658.581 535.602,667.196 538.371,667.196 538.371,658.581 546.986,658.581     "/>
      <polygon fill="#FFFFFF" points="184.127,635.812 175.512,635.812 175.512,627.196 172.742,627.196 172.742,635.812 
        164.127,635.812 164.127,638.581 172.742,638.581 172.742,647.196 175.512,647.196 175.512,638.581 184.127,638.581     "/>
      <polygon fill="#FFFFFF" points="311.139,846.831 302.523,846.831 302.523,838.216 299.754,838.216 299.754,846.831 
        291.139,846.831 291.139,849.601 299.754,849.601 299.754,858.216 302.523,858.216 302.523,849.601 311.139,849.601     "/>
      <polygon fill="#FFFFFF" points="119.001,953.245 110.386,953.245 110.386,944.63 107.616,944.63 107.616,953.245 99.001,953.245 
        99.001,956.015 107.616,956.015 107.616,964.63 110.386,964.63 110.386,956.015 119.001,956.015    "/>
      <polygon fill="#FFFFFF" points="1498.385,592.438 1489.77,592.438 1489.77,583.823 1487,583.823 1487,592.438 1478.385,592.438 
        1478.385,595.208 1487,595.208 1487,603.823 1489.77,603.823 1489.77,595.208 1498.385,595.208     "/>
    </g>
  </g>
  <g id="text">
    <g>
      <rect x="464.34" y="454.034" fill="none" width="991.32" height="143.582"/>
      <text transform="matrix(1 0 0 1 464.3389 479.165)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'TitilliumWeb-Italic'" font-size="35">Story of a crime allows the user to explore the crime in Switzerland </tspan><tspan x="0" y="45" fill="#FFFFFF" font-family="'TitilliumWeb-Regular'" font-size="35">in a new narrative way. The project shows the exact data on crime </tspan><tspan x="0" y="90" fill="#FFFFFF" font-family="'TitilliumWeb-Regular'" font-size="35">in Switzerland from 2009 to 2015, taken from opendata.swiss.</tspan></text>
      <rect x="1374.755" y="616.771" fill="none" width="53.201" height="22.73"/>
      <g id="next" ui-sref="home">
        <text transform="matrix(1 0 0 1 1374.7549 633.5605)" fill="#FFFFFF" font-family="'TitilliumWeb-Thin'" font-size="23">NEXT</text>
      </g>
      <rect x="464.34" y="596.98" fill="#FFFFFF" width="963.616" height="3"/>
    </g>
  </g>
  </svg>
</div>
