<div layout="column" layout-align="start center" id="map">
  <div class="desc_alt">
      Explore the relative number of crimes committed in your canton and in the other Swiss cantons.
  </div>

  <paper-button  id="nextButton" ui-sref="home">
    Restart >
  </paper-button>
</div>
