<div layout="column" layout-align="space-around center">
  <div class="desc">
    Visualisation of amount of crimes committed per category and age class, data for Switzerland in 2015.
  </div>
  <div class="radarChart"></div>


  <paper-button  id="nextButton" ui-sref="map">
    Next >
  </paper-button>
</div>
