<div layout="column" layout-align="space-between center">

  <div layout="column" layout-align="center center">
    <div class="menu" layout="row" layout-align="center center"> 
      <button ng-click="setDataset('_Dataset_Criminality_subset1_fraud.csv')">fraud</button><br>
      <button ng-click="setDataset('_Dataset_Criminality_subset1_cartheft.csv')">car</button><br>
      <button ng-click="setDataset('_Dataset_Criminality_subset1_privacy.csv')">privacy</button><br>
      <button ng-click="setDataset('_Dataset_Criminality_subset1_assault.csv')">assault</button><br>
      <button ng-click="setDataset('_Dataset_Criminality_subset1_theft.csv')">theft</button><br>
    </div>
    <div class="legend">
      <div ng-if="graphtype === 'type1'">
        <img src="assets/images/pulsanti-02.svg">
      </div>
      <div ng-if="graphtype === 'type2'">
        <img src="assets/images/pulsanti-01.svg">
      </div>
    </div>
    <svg width="960" height="500"></svg>
  </div>

  <div class="desc">

  </div>
  <paper-button  id="nextButton" ui-sref="tab2">
    Next >
  </paper-button>
</div>
